<table border="1">
        <thead>
        <tr>
            <th>imie</th>
            <th>nazwisko</th>
            <th>wiek</th>
            <th>imie Partnera</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>{{imie}}</th>
            <th>{{nazwisko}}</th>
            <th>{{wiek}}</th>
            <th>{{imiePartnera}}</th>
        </tr>
        </tbody>
    </table>
